.ticker-container {
  background-color: black;
  height: 90px;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
}

.ticker-category {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  z-index: 10;
  background-color: black;
  border-right: 3px solid #ccc;
  width: 100px;
  text-align: center;
  align-self: center;
  padding: 5px 0;
}

.ticker {
  color: white;
  animation-name: ticker;
  animation-duration: 15s;
  transition: 10s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  text-align: right;
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  line-height: 0.8;
  left: 130px;
  margin-top: 20px;
  white-space: nowrap;
}

.ticker-logo-container {
  position: absolute;
  height: 110px;
  width: 350px;
  border: 3px solid #ccc;
  border-right: 0;
  right: -10px;
  z-index: 10;
  transform: perspective(300px) rotateX(8deg);
  bottom: 0;
  border-top-left-radius: 10px;
  border-bottom: none;
  background: linear-gradient(to bottom, #e00d0d 0%, #350303 50%, #0a0e0a 54%, #0a0809 100%);
  box-shadow: -40px 100px 109px 38px;
  display: flex;
  justify-content: center;
}

.ticker-logo {
  width: 200px;
}

@keyframes ticker {
  0% {
    transform: translate(0, 100px);
  }
  10% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
